profile_output
testP4D.py
testODBC.py
*.xcodeproj
.DS_Store
__pycache__
DerivedData
*.pyc
package.sh
testMain.c
dist
*.egg-info
virtualenv
env
.eggs
build/
Users/
*.o
*.so
p4d/_p4d_cffi.c
p4d/_p4d_cffi*.so

# C build artifacts
lib4d_sql/test_regression
*.out
